mixin recipe(args={})
    div.recipes__author
        span.recipes__item=args.item
        span.recipes__bold=args.bold
        span.recipes__text=args.text
mixin test(first_text, second_text)
            span.text=first_text
            span.text__inner=second_text